@model IEnumerable<DadJokes.Models.Joke>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
}

<h1 class="details-box2">Riddle me this</h1>

<p style="color:coral">
    <h1><a asp-action="Create"> + </a></h1>
</p>
<table class="table table-hover table-striped custom-table text-white">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Question)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           

            <tr>
                <td>
                    <span class="question-text">@Html.DisplayFor(modelItem => item.Question)</span>
                    <div class="vote-buttons">
                        <a asp-action="Upvote" asp-route-id="@item.Id" class="btn btn-success btn-sm">⬆️</a>
                        <a asp-action="Downvote" asp-route-id="@item.Id" class="btn btn-danger btn-sm">⬇️</a>
                    </div>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Show Answer</a>
                    @if (item.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>

                    }

                    <td>
                    <!-- Display the Net Score -->
                    <a class="text-light">Total Votes: </a>
                    <strong class=" @(item.Votes.Sum(v => v.Value) >= 0 ? "text-success" : "text-danger")">
                            @item.Votes.Sum(v => v.Value)
                    </strong>
                    </td>

                </td>
            </tr>
        }
    </tbody>
</table>

